.App {
  
  text-align: center;
  margin: 0 auto;
}


.btn{
  border-style: none;
}


.todo{
  display:flex;
  width: 50%;
  height: 100%;
  background-color: pink;
  opacity: 0.8;
  /* justify-content:flex-end;  */
  align-items: center; 
  border-radius:5px;
  margin: 0 auto;
}

.para{

  flex: 1;
  /* border: 2px solid black; */
  color: green;
  /* align-items: center; */
  text-align:left;
  font-size: 20px;
  padding:10px;
  margin:0 auto;
 
}



.list-group{
  list-style-type: none;

  

}
.forms{
  display: flex;
  
  background-color: green;
  align-items: center ;
  text-align: center;
  justify-content:center;
}
.textbox{
  /* display: flex; */
  width: 50%;
  height:100%;
  /* align-self:center; */
  margin: 25px;

}

.checkbox{
  width: 25px;
  height: 25px;
}